.app-header {
    line-height: 1;

    &__logo {
        font-size: 2.5rem;

        a {
            color: #fff;
        }
    }

    &__links {
        margin: 0 0 0 100px;
        width: 350px;

        &-item {
            color: #00b86c;
            font-weight: 700;
            font-size: 1.3rem;
        }
    }

    a:hover {
        text-decoration: none;
    }
}